.header { display: flex; align-items: center; justify-content: space-between; background-color: #0B195C; padding: 22px 40px; border-radius: 0 0 20px 20px; color: white; }
.logo-container { display: flex; align-items: center; gap: 12px; }
.logo-container .logo-img { height: 50px; width: auto; object-fit: contain; }
.logo-container h1 { font-size: 30px; margin: 0; display: flex; align-items: center; }
.texto-biblio { color: #ffffff; font-weight: bold; }
.texto-tech { color: #00bfff; font-weight: bold; }
.search { display: flex; align-items: center; background-color: #ffffff; width: 45%; max-width: 500px; border-radius: 25px; padding: 6px 16px; }
#searchInput { flex: 1; border: none; outline: none; font-size: 14px; color: #333; }
.header-actions { display: flex; align-items: center; gap: 20px; }
.action-item { display: flex; align-items: center; gap: 6px; color: white; text-decoration: none; font-size: 14px; font-weight: bold; }
.action-item .material-symbols-outlined { font-size: 22px; }
.account-icon .material-symbols-outlined { font-size: 32px; }

.main-container { display: flex; padding: 20px 30px; gap: 40px; }
.sidebar { width: 220px; flex-shrink: 0; }
.sidebar-menu { display: flex; flex-direction: column; gap: 10px; }
.menu-item { display: flex; align-items: center; gap: 15px; padding: 12px 20px; text-decoration: none; color: #000; font-size: 16px; font-weight: 500; border-radius: 25px; transition: 0.2s; }
.menu-item.active { background-color: #0B195C; color: #ffffff; }
.menu-item:hover:not(.active) { background-color: #e0e0e0; }
.content { flex: 1; display: flex; flex-direction: column; gap: 30px; }

.desafios-container {
    padding: 10px 0;
}
.titulo-sessao {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.icone-medalha {
    font-size: 34px;
    color: #0056b3; 
}

.titulo-sessao h2 {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin: 0;
}

.cartao-desafio-vazio {
    background-color: #f7f9fc;
    border-radius: 16px;
    width: 100%;
    max-width: 900px;
    min-height: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}