<header class="header">
  <div class="logo-container">
    <img src="img/logo.png" alt="Logo BiblioTech" class="logo-img">
    <h1>
      <span class="texto-biblio">Biblio</span><span class="texto-tech">Tech</span>
    </h1>
  </div>
  <div class="search">
    <input type="text" id="searchInput" placeholder="Pesquisar Livros">
    <label for="searchInput"><span class="material-symbols-outlined">search</span></label>
  </div>
  <div class="header-actions">
    <a href="#" class="action-item"><span class="material-symbols-outlined">favorite</span>Favoritos</a>
    <a href="#" class="action-item"><span class="material-symbols-outlined">notifications</span>Notificações</a>
    <a href="#" class="action-item account-icon"><span class="material-symbols-outlined">account_circle</span></a>
  </div>
</header>

<div class="main-container">
  <aside class="sidebar">
    <nav class="sidebar-menu">
      <a routerLink="/home" class="menu-item">
        <span class="material-symbols-outlined">home</span>
        <span>Início</span>
      </a>
      <a routerLink="/categorias" class="menu-item active">
        <span class="material-symbols-outlined">grid_view</span>
        <span>Categorias</span>
      </a>
      <a routerLink="/meus-livros" class="menu-item">
        <span class="material-symbols-outlined">book_2</span>
        <span>Meus Livros</span>
      </a>
      <a routerLink="/perfil" class="menu-item">
        <span class="material-symbols-outlined">person</span>
        <span>Perfil</span>
      </a>
      <a routerLink="/configuracoes" class="menu-item">
        <span class="material-symbols-outlined">settings</span>
        <span>Configurações</span>
      </a>
    </nav>
  </aside>

  <main class="content">
    <div class="category-card">
      <div class="category-header">
        <span class="material-symbols-outlined header-icon">grid_view</span>
        <h2 class="category-title">CATEGORIAS</h2>
      </div>

      <hr class="divisor">

            <div class="categorias-lista">
                 <div class="categoria-secao">
                <h3 class="nome-categoria">Tecnologia & Programação</h3>
                <div class="livros-grid">
                    @for (Livro of categoriaFiltrar('Tecnologia & Programação'); track Livro.nome) {
                        <div class="card-livro" (click)="modalService.abrirModalLivro(Livro)">
                            <div class="capa-container">
                                <img [src]="Livro.image" [alt]="Livro.nome" class="capa-livro">
                            </div>
                            <h4 class="título-livro">{{ Livro.nome }}</h4>
                            <span class="autor-livro">{{ Livro.autor }}</span>
                        </div>
                    }
                </div>
            </div>

            
            <div class="categoria-secao">
                <h3 class="nome-categoria">Devops & Infraestrutura</h3>
                <div class="livros-grid">
                    @for (Livro of categoriaFiltrar('Devops & Infraestrutura'); track Livro.nome) {
                        <div class="card-livro" (click)="modalService.abrirModalLivro(Livro)">
                            <div class="capa-container">
                                <img [src]="Livro.image" [alt]="Livro.nome" class="capa-livro">
                            </div>
                            <h4 class="título-livro">{{ Livro.nome }}</h4>
                            <span class="autor-livro">{{ Livro.autor }}</span>
                        </div>
                    }
                </div>
            </div>

            
            <div class="categoria-secao">
                <h3 class="nome-categoria">Inteligência Artificial</h3>
                <div class="livros-grid">
                    @for (Livro of categoriaFiltrar('Inteligência Artificial'); track Livro.nome) {
                        <div class="card-livro" (click)="modalService.abrirModalLivro(Livro)">
                            <div class="capa-container">
                                <img [src]="Livro.image" [alt]="Livro.nome" class="capa-livro">
                            </div>
                            <h4 class="título-livro">{{ Livro.nome }}</h4>
                            <span class="autor-livro">{{ Livro.autor }}</span>
                        </div>}
                </div>
            </div>
        </div>

               
              @if (modalService.isOpen()) {
                <section class="modal-overlay">
                  <div class="modal-card" (click)="$event.stopPropagation()">
                    <button class="btn-fechar" (click)="modalService.fecharModal()">
                      <span class="material-symbols-outlined">close</span>
                    </button>
                  
                    <div class="modal-content">
                      <img [src]="modalService.livro()?.image" alt="Capa" class="modal-img">
                    
                      <div class="modal-info-detalhe">
                        <h2>{{ modalService.livro()?.nome }}</h2>
                        <span class="modal-autor">{{ modalService.livro()?.autor }}</span>

                        <div class="modal-dados">
                          @if(modalService.livro()?.reserva === true){
                            <span><strong>Devolução:</strong> {{ modalService.livro()?.devolucao }}</span>
                          }
                          <div class="status-container">
                            <strong>Status:</strong> 
                            <span class="status-badge">
                              @if(modalService.livro()?.reserva === true){
                                <p class="status-emprestado">Emprestado</p>
                              } @else {
                                <p class="status-livre">Livre</p>
                              }
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              }
    
</div>