* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-item.active {
  background-color: #0d47a1 !important;
  color: #ffffff !important;
}
body {
    background-color: #f7f8fc;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modal-card {
    background-color: #ffffff;
    border-radius: 12px;
    width: 650px;
    max-width: 90%;
    height: 380px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.btn-fechar {
    position: absolute; 
    top: 15px; right: 15px;
    background: none; border: none;
    cursor: pointer; color: #666;
}
.btn-fechar .material-symbols-outlined { font-size: 28px; }

.modal-content {
    display: flex;
    height: 100%;
}

.modal-img {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.modal-info-detalhe {
    padding: 50px 30px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-info-detalhe h2 { font-size: 26px; 
    color: #000; 
    margin: 0 0 5px 0; 

    margin-bottom: 200px;
}
.modal-autor { 
    font-size: 16px !important; 
    color: #888 !important; 
    margin: -8px 2px 5px 0 !important; }

.modal-dados p { font-size: 16px; color: #333; margin: 10px 0; }

.status-container { display: flex; align-items: center; gap: 10px; margin-top: 15px; font-size: 16px; color: #333; }

.status-badge, p {
    color: white;
    padding: 6px 18px;
    border-radius: 200px;
    font-weight: bold;
    font-size: 14px;
}   

.status-entregue, .status-livre { background-color: #007bff; } 
.status-emprestado { background-color: #ff9800; } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7f8fc;
}

/* Dark Mode Tconfig */

body.dark-theme .big-gear{
    background-color: #121212;
}

body.dark-theme {
    background-color: #121212;
    transition: background-color 0.3s;
}

body.dark-theme .settings-card,body.dark-theme .sidebar {
    background-color: #1e1e1e;
    color: #ffffff;
    transition: background-color 0.3s;
}

body.dark-theme .settings-title,
body.dark-theme .config-text,
body.dark-theme .menu-item {
    color: #ffffff;
}

body.dark-theme .config-info .material-symbols-outlined,
body.dark-theme .menu-item .material-symbols-outlined{
    color: #00bfff;
}

/* Dark Mode TCategorias */
body.dark-theme .category-card {
    background-color: #1e1e1e;
    color: #ffffff;
    transition: background-color 0.3s;
}

body.dark-theme .category-title {
    color: #ffffff;
}

body.dark-theme .category-card .divisor {
    border-top: 1px solid #333;
}

/* Dark Mode TMeus-Livros */
body.dark-theme .livros-section h3 {
    color: #ffffff;
}

body.dark-theme .livro-card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

body.dark-theme .livro-info h4 {
    color: #ffffff;
}

body.dark-theme .livro-info p {
    color: #aaaaaa;
}

body.dark-theme .livro-info h3 {
    color: #f7f8fc;
}


/* Dark Mode TMeus-Livros Cont  */

body.dark-theme .modal-card { background-color: #1e1e1e; }
body.dark-theme .modal-info-detalhe h2,
body.dark-theme .modal-dados p,
body.dark-theme .status-container,
body.dark-theme .btn-fechar { color: #ffffff; }
body.dark-theme .modal-autor { color: #aaaaaa; }

/* Dark Mode: TDesafio */

body.dark-theme .titulo-sessao h2 { color: #ffffff; }
body.dark-theme .cartao-desafio-vazio { background-color: #1e1e1e; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); }
body.dark-theme .icone-medalha { color: #00bfff; }

/* Cor do icone do perfil */
body.dark-theme .material-symbols-outlined {
    color: #00bfff;
}

body.dark-theme .continue-card {
     background-color: #333333;

}

body.dark-theme .name {
    color: #ffffff;
}













